<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Caselândia - Fidelidade</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="container">
        <h1>Bem-vindo à Caselândia</h1>
        <p>Cadastre-se no nosso programa de fidelidade e acompanhe seus serviços!</p>
        <form action="/registrar_fidelidade" method="POST">
  
           <div class="info">
    <h2>Informações da Loja</h2>
    <p>📍 Endereço: Praça da matriz , 2 - Centro</p> 
    <p>📞 Telefone: (79) 99176-3141</p>
    <p>⏰ Atendimento: Seg a Sáb - 08:30h às 18:30h</p> 
</div>
            <input type="text" name="nome" placeholder="Seu nome" required><br>
            <input type="text" name="contato" placeholder="Telefone ou Email" required><br>
            <input type="text" name="servico" placeholder="Qual serviço ou produto?" required><br>
            <button type="submit">Cadastrar e falar com WhatsApp</button>
        </form>
    </div>
</body>
</html>

